 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

 html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.container-fluid {
  min-height: 100vh; /* 100% de la hauteur de la vue (viewport) */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Utilisé pour garantir que le pied de page reste en bas de la page */
  margin: 0;
  padding: 0; 
}

.titre-acceuil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titre-acceuil h1 {
  font-weight: 400;
  font-size: 48px;
}

.titre-acceuil p {
  font-size: 16px;
}

.image-acceuil {
  height: 900px;
}

.text-acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 200px;
}

.text-acceuil p {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.voir-collection {
  border: solid 1px;
  padding: 10px;
}

.voir-collection:hover {
  border: solid 2px;
}

.voir-collection a {
  text-decoration: none;
  color: black;
}

.photos-acceuil-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-acceuil-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  gap: 50px;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 1024px) {

  .titre-acceuil h1 {
    font-weight: 400;
    font-size: 40px;
  }

  .image-acceuil {
    height: 600px;
  }
  .text-acceuil p {
    font-size: 25px;
  }

  .photos-acceuil-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
  }
}

@media (max-width: 800px) {
      
    .titre-acceuil h1 {
      font-weight: 400;
      font-size: 30px;
    }

    .titre-acceuil p {
      font-size: 14px;
    }
  
    .image-acceuil {
      height: 400px;
    }

    .text-acceuil {
      padding: 50px 100px;
    }

    .text-acceuil p {
      font-size: 20px;
    }
  
    .photos-acceuil-container {
      display: grid;
      grid-template-columns: 300px 300px;
      grid-template-rows: 300px 300px;
      gap: 15px;
      justify-content: center;
      align-items: stretch;
    }
}

@media (max-width: 600px) {
      
  .titre-acceuil h1 {
    font-weight: 400;
    font-size: 25px;
  }

  .titre-acceuil p {
    font-size: 12px;
  }

  .image-acceuil {
    height: 300px;
  }

  .text-acceuil {
    padding: 50px 50px;
  }

  .text-acceuil p {
    font-size: 15px;
  }

  .photos-acceuil-container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
  }
}

@media (max-width: 500px) {
      
  .titre-acceuil h1 {
    font-weight: 400;
    font-size: 25px;
  }

  .titre-acceuil p {
    font-size: 12px;
  }

  .image-acceuil {
    height: 300px;
  }

  .text-acceuil {
    padding: 50px 50px;
  }

  .text-acceuil p {
    font-size: 15px;
  }

  .photos-acceuil-container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
  }
}