

body {
    font-family: 'Bodoni Moda', serif;
    font-size: 15px;
    color: black;
    line-height: 1.6;
    background-image: url("/images/BGIMG.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/****************************** Page d'acceuil ***************************/

#acceuil {
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 200px;
}

#acceuil h1 {
    font-size: 8em;
    font-weight: 400;
}

#acceuil a {
    font-size: 30px;
    backdrop-filter: blur(5px);
    color: #EDDBC7;
    text-decoration: none;
    border: #EDDBC7 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#acceuil a:hover {
    background: #EDDBC7;
    color: #fff;
    transition-duration: 1s;
}

/************************ Collection des robes ********************************/

.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.collection h1 {
    
    color: #fff;
    margin-bottom: 20px;
    font-size: 4em;
}

.collection h3 {
    margin-bottom: 20px;
}

.button {
    font-size: 15px;
    backdrop-filter: blur(5px);
    color: #EDDBC7;
    text-decoration: none;
    border: #EDDBC7 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #EDDBC7;
    color: #fff;
    transition-duration: 1s;
}

.btn {
    font-size: 15px;
    backdrop-filter: blur(5px);
    text-decoration: none;
    border: #E7AB79 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #E7AB79;
    color: #fff;
    transition-duration: 1s;
}

.collection .card {
    background-color: #EDDBC7;
}

.collection .card-body h5 {
    font-weight: bold;
}

.collection .card img {
    height: 200px;
}

/********************* CAROUSEL SECTION **********************************/

.c-img {
    height: 450px;
    width: 300px;
    border: 1px solid #A7727D;
    border-radius: 3px 4px;
}


/********************* DISPLAY SECTION **********************************/

.display_section {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
}

.display_section-carousel {
    width: 70%;
    margin-bottom: 20px;
}
}

/********************* CONTACT SECTION **********************************/



.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 200px;
}

.contact h1 {
    margin-bottom: 20px;
    font-size: 5em;
}

.contact h5 {
    font-size: 2em;
}

.contact p {
    font-size: 18px;
}

/********************* FOOTER SECTION **********************************/

footer {
    position: relative;
    top: 50px;
}

.footer-fa {
    text-decoration: none;
    color: #fff;
    line-height: 2.5;
    font-weight: 100;
}

.footer-fa i {
    font-size: 18px;
    margin-right: 15px;
}

/********************* MEDIA QUERIES SECTION **********************************/

/********************* MEDIA QUERIES SECTION FOR TABLET **********************************/

@media (max-width: 992px) {

    #acceuil {
        margin-top: 300px;
    }

    #acceuil h1 {
        font-size: 4em;
        margin-bottom: 0;
        font-weight: 600;
    }

    #acceuil a {
        margin-top: 0;
        color: black;
        font-size: 25px;
    }

    /********************* COLLECTION ROBES **********************************/

    .collection-container {
        width: 100%;
    }

    .collection h1 {
        margin-bottom: 0px;
        font-size: 3rem;
    }

    .collection .card {
        margin-bottom: 15px;
    }

    /********************* DISPLAY SECTION **********************************/

    .display_section .carousel {
        width: 80%;
    }

    /********************* CONTACT **********************************/

    .contact {
        align-content: center; 
    }

    .contact-row {
        flex-direction: column;
        align-items: center;
    }

    .grid-card {
        margin-bottom: 10px;
        width: 60%;
    }

    .contact h1 {
        font-size: 5rem;
    }

    .contact-btn {
        font-size: 20px;
        font-weight: 600;
        backdrop-filter: blur(5px);
        color: black;
        text-decoration: none;
        border: black 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        transition: all 0.3s ease;
    }

    .contact-btn:hover {
        background: black;
        color: #fff;
        transition-duration: 1s;
    }

    .contact h6 {
        font-weight: bold;
    }

    .contact h5 {
        font-size: 40px;
    }

    .contact p {
        font-size: 15px;
        color: dimgrey;
    }

}

/********************* MEDIA QUERIES SECTION FOR MOBILE **********************************/

@media (max-width: 576px) {

    #acceuil {
        margin-top: 300px;
    }

    #acceuil h1 {
        font-size: 4em;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 10px;
        color: black;
    }

    #acceuil a {
        font-size: 20px;
        font-weight: 400; 
        margin-top: 0px;
        color: black;
    }

    /********************* COLLECTION ROBES **********************************/

    .collection {
        padding: 0 60px;
    }

    .collection h1 {
        margin-bottom: 0px;
        font-size: 3rem;
    }

    .collection .card {
        margin-bottom: 15px;
    }

    /********************* CONTACT **********************************/

    .contact {
        margin-top: 20px;
    }

    .contact-row {
        flex-direction: column;
        align-items: center;
    }

    .contact .card {
        margin-bottom: 15px;
    }

    .contact h1 {
        font-size: 4rem;
    }

    .contact-btn {
        font-size: 20px;
        font-weight: 600;
        backdrop-filter: blur(5px);
        color: black;
        text-decoration: none;
        border: black 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        transition: all 0.3s ease;
    }

    .contact-btn:hover {
        background: black;
        color: #fff;
        transition-duration: 1s;
    }

    .contact h6 {
        font-weight: bold;
    }

    .contact h5 {
        font-size: 25px;
    }

    .contact p {
        font-size: 15px;
        color: dimgrey;
    }

    /********************* DISPLAY SECTION **********************************/

    .display_section .carousel {
        width: 100%;
    }
}